.contenedor{
    margin: 0 auto;
    width: 37%;
    border: 1px solid #cccccc;
    display: inline-block;
    box-shadow: 1px 1px 6px #666;
    margin-top: 10px;
}

.grid{
    display: grid;
    grid-gap: 1px;
    grid-template-columns:repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}

.row{
    margin:  auto;
    justify-content: center;
}

.cuadro1{
    width: 60px;
    height: 60px;
   display: block;
   line-height: 60px;
   text-align: center;
   border: 1px solid #cccccc;
   box-shadow: 1px 1px 6px #666;
  }

  .b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8,.b9{
    display: flex;
    align-content: center;
    justify-content: center;
    color: aqua;
    background-color: black;
    width: 60px;
    margin-left: 10px;
}